# Dependencies
node_modules/
.pnp
.pnp.js

# Lockfiles
package-lock.json
yarn.lock

# Testing
coverage/

# Next.js
.next/
out/
build/
dist/

# Production
*.log
*.log.*

# Misc
.DS_Store
*.pem

# Debug
bun-debug.log*

# Local env files
.env
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Backup files
*.bak
